[submodule "extern/btstack"]
	path = extern/btstack
	url = https://github.com/bluekitchen/btstack.git
[submodule "extern/fdk-aac"]
	path = extern/fdk-aac
	url = https://github.com/mstorsjo/fdk-aac.git
[submodule "extern/json"]
	path = extern/json
	url = https://github.com/nlohmann/json.git
